/*
    timelab.co.uk
    Colours
*/

/* backgrounds */
$color-background-body: #ebebeb;
$color-background-alt: #efefef;
$color-background-dark: #ccc;

/* core */
$color-primary: #cc3300;
$color-white: #fff;

/* fonts */
$color-font-bodycopy: #3c3c3c;
$color-font-heading: $color-primary;
$color-font-link: $color-font-bodycopy;
$color-font-link-hover: $color-font-bodycopy;
