/*
    timelab.co.uk
    Fonts
*/

@include font-face(helveticaneueultralight, '/assets/font/helvetica-neue-ultra-light/helveticaneueultralight');
@include font-face(heavydock11, '/assets/font/heavy-dock-11/heavy_dock11');

/* variables */
$font-stack-body: helveticaneue, helvetica, arial;
$font-stack-light: helveticaneueultralight, 'helveticaneueultralight', $font-stack-body;
$font-stack-heavy: 'heavydock11', Arial Bold;



/* styles */
h1, h2 {
    font-family: $font-stack-heavy;
    text-align: center;
    text-transform: uppercase;
}
h1 {
    color: $color-font-heading;
    font-size: 65px;
    margin-bottom: 60px;
}
h2 {
    font-size: 33px;
    margin-bottom: 20px;
}
h3 {
    font-family: $font-stack-light;
    font-size: 21px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
p {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 20px;
}
a:link, a:visited {
    color: $color-font-link;
    text-decoration: none;
}
a:active, a:hover {
    color: $color-font-link-hover;
    text-decoration: underline;
}
small {
    font-size: 10px;
    letter-spacing: 1px;
}
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}



/* Smartphones (portrait) ----------- */
@media screen and (max-width : 600px) {

    /* font */
    h1 {
        font-size: 2em;
    }

}
