/*
    timelpatel.com
    Base
*/

/* imports */
@import '_reset';
@import '_colours';
@import '_mixins';
@import '_grid';
@import '_fonts';



// global
body {
    background: $color-background-body;
    color: $color-font-bodycopy;
    font: 100% $font-stack-body;
}

hr {
    background: $color-primary;
    border: 0;
    height: 4px;
    margin-bottom: 5em;
    width: 100px;
}



#clients,
#contact,
#services {
    margin: 0 auto;
    max-width: 1100px;
    padding: 100px 1em;
}

// hero
#hero {
    background: $color-background-alt;
    height: 500px;
    padding-top: 200px;

    h2 {
        letter-spacing: 0.1em;
        font-family: $font-stack-light;
        text-transform: none;
    }
}



// services
#services {
    ul {
        text-align: center;

        li {

            span {
                background: url(../img/services.png) no-repeat;
                background-size: 100%;
                display: block;
                height: 80px;
                margin: 0 auto;
                width: 80px;
            }

            &.technical span {
                background-position: 0 -100px;
            }

            &.strategy span {
                background-position: 20px -250px;
            }
        }
    }
}



// clients
#clients {
    background: $color-background-alt;
    padding-bottom: 200px;

    li {
        span {
            @extend .hide-text;
            background-position-x: center;
            background-repeat: no-repeat;
            background-size: 150px;
            display: block;
            height: 112px;
        }

        &.lbg span {
            background-image: url(../img/client-lbg.png);
        }

        &.bbc span {
            background-image: url(../img/client-bbc.png);
        }

        &.bar span {
            background-image: url(../img/client-bar.png);
        }
    }
}



// get in touch
#contact {
    p {
        font-size: 1.5em;
        text-align: center;
    }
}



// footer
footer {
    background: $color-font-bodycopy;
    color: $color-white;
    padding: 20px;
    text-align: center;
}





/* Smartphones (portrait and landscape) ----------- */
// @media screen and (min-device-width : 320px) and (max-device-width : 480px) {
//
// }





/* Smartphones (portrait) ----------- */
@media screen and (max-width : 600px) {

    //hero
    #hero {
        height: 320px;
    }
    #hero h2 {
        font-size: 1.15em;
    }

    // clients
    #clients li span {
        background-position: center;
    }

    // get in touch
    #contact {
        p {
            font-size: 1em;
        }
    }

}
