/*
    timelpatel.com
    Base
*/

/* imports */
@import '_reset';
@import '_colours';
@import '_mixins';
@import '_grid';
@import '_fonts';



// global
body {
    background: $color-background-body;
    color: $color-font-bodycopy;
    font: 100% $font-stack-body;
}

hr {
    background: $color-primary;
    border: 0;
    height: 4px;
    margin-bottom: 5em;
    width: 100px;
}



#clients,
#contact,
#services {
    padding: 100px 1em;
}



// home hero
#hero {
    background: $color-background-alt;
    height: 500px;
    padding-top: 200px;

    h2 {
        letter-spacing: 0.1em;
        font-family: $font-stack-light;
        text-transform: none;
    }
}



// services
#services {
    ul {
        text-align: center;

        li span {
            @include circle(50px, 50px, $color-background-dark);
            display: block;
            margin: 0 auto;
            margin-bottom: 2em;
            margin-top: 2em;
        }
    }
}



// clients
#clients {
    background: $color-background-alt;
    padding-bottom: 200px;

    li {
        span {
            @extend .hide-text;
            background-position-x: center;
            background-repeat: no-repeat;
            background-size: 60%;
            display: block;
            height: 112px;
        }

        &.lbg span {
            background-image: url(../img/client-lbg.png);
        }

        &.bbc span {
            background-image: url(../img/client-bbc.png);
        }

        &.bar span {
            background-image: url(../img/client-bar.png);
        }
    }
}



// get in touch
#contact {
    background: $color-background-dark;
    color: $color-white;

    p {
        font-size: 1.5em;
        text-align: center;

        a {
            color: $color-white;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}



// footer
footer {
    padding: 100px 20px;
    text-align: center;
}





/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {

    // clients
    #clients li span {
        background-size: 50%;
    }

}





/* Smartphones (portrait) ----------- */
@media screen and (max-width : 600px) {

    // clients
    #clients li span {
        background-position: center;
        background-size: 30%;
    }

    // get in touch
    #contact {
        p {
            font-size: 1em;
        }
    }

}
